.content.works-container {
    background-color: white;
    position: relative;
    z-index: 1;
}

.works-container .game2048-show {
    min-height: 60vh;
    background-color: #a1887f41;
    background-image: url(./images/game.png);
    background-position-x: 20px;
    background-position-y: center;
    background-repeat: no-repeat;
}

.works-container .game2048-introduce {
    text-align: right;
    display: flex;
    flex-direction: column;
}

.works-container .game2048-introduce span:last-child {
    display: flex;
    justify-content: end;
}

@media screen and (max-width:1200px) {
    .works-container .game2048-show {
        min-height: 40vh;
        align-self: start;
        background-size: contain;
        background-position: center;
    }

    .works-container .game2048-introduce {
        text-align: center;
    }

    .works-container .game2048-introduce span:last-child {
        justify-content: center;
        flex-direction: row-reverse;
    }
}