.content.works-container {
    background-color: white;
    position: relative;
    z-index: 1;
}

.works-container .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    grid-gap: 100px;
    /*子元素垂直居中*/
    align-items: center;
}

.works-container .game2048-show {
    min-height: 600px;
    background-color: #a1887f41;
    background-image: url(./images/game.png);
    background-position-x: 20px;
    background-position-y: center;
    background-repeat: no-repeat;
}

.works-container .game2048-introduce {
    text-align: right;
    display: flex;
    flex-direction: column;
}